body {
	background-color: #282c34;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	/* display: flex; */
	color: white;
	padding-left: 2rem;
	padding-right: 10rem;
}

.App-link {
	color: #61dafb;
}
